# AI Keys
EXPO_PUBLIC_SARVAM_API_KEY=your_key_here
EXPO_PUBLIC_GEMINI_API_KEY=your_key_here
EXPO_PUBLIC_WEATHER_KEY=your_key_here

# Supabase Keys
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Backend
EXPO_PUBLIC_BACKEND_URL=http://localhost:8000
